---
import Layout from "../layouts/Layout.astro";
import Overview from "../components/Overview.astro";
import Footer from "../components/Footer.astro";

const deliverables = [
  "Accessibility Consulting",
  "Customer Journey Mapping",
  "Design Systems",
  "Experience Maps",
  "Frontend Development",
  "Prototypes",
  "Information Architecture",
  "Interface Design",
  "Project Management",
  "User Journeys",
  "User Research",
  "User Stories",
  "Usability Testing",
  "UX Audits",
  "UX Consulting",
  "UX Research",
  "UX Team Lead",
  "UX Writing",
  "Visual Design",
  "Wireframes",
];

const tools = [
  "Confluence",
  "CSS/SASS",
  "Figma",
  "Git",
  "HTML",
  "Jira",
  "JavaScript",
  "PHP",
  "Rive",
  "React",
  "Unity",
  "Visual Studio Code",
];

const brands = [
  "Adidas",
  "Audi",
  "dm-drogerie markt",
  "ebay",
  "Escada",
  "Hugo Boss",
  "MAN",
  "Mercedes AMG",
  "PayPal",
  "Porsche",
  "Volkswagen",
  "and many more",
];

const awards = [
  "ADC*E Gold",
  "Automotive Brand Contest Digital",
  "iF DESIGN AWARD",
  "Red Dot 'Best of the Best'",
  "German Design Award Gold",
  "Annual Multimedia Award Gold",
  "Corporate Design Prize",
  "Deutsche Designer Club Award",
  "Art Directors Club, Germany",
  "Deutscher Digital Award",
  "Lovie Award Bronze",
];
---

<Layout>
  <div id="intro">
    <h2>
      <strong>
        Hi, I’m Christoph — a Designer, Strategist, and Engineer specializing in
        crafting exceptional digital user experiences.
      </strong>
    </h2>
    <h2>
      Since more than 15 years, I help companies of all sizes to think, build
      and deliver great digital products.<br />
      I know my tools and work plug & play in your team and project structure.
    </h2>
    <h3>
      If you want to hire me, use good old
      <a href="mailto:c@beringer.io?Subject=Hello" title="Write me an email">
        email</a
      >, or contact me on
      <a
        href="http://de.linkedin.com/pub/christoph-beringer/6/137/3b2"
        title="LinkedIn"
      >
        LinkedIn
      </a>.
    </h3>
  </div>

  <div class="overview">
    <Overview title="Deliverables" items={deliverables} />
    <Overview title="Tools" items={tools} />
  </div>

  <div class="overview">
    <Overview title="Brands" items={brands} />
    <Overview title="Awards" items={awards} />
  </div>

  <Footer />
</Layout>
