<div id="footer">
  <a class='soft' href='/imprint'>Imprint</a>
  <a class='soft' href='/privacy'>Privacy</a>
</div>

<style>
  #footer {
    margin-top: 2rem;
  }
  
  .soft {
    color: #666;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .soft:hover {
    text-decoration: underline;
  }
</style>
